.p1{
	font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 30px;   
}
.p2  { 
	font-family: 'Pacifico', cursive;
    font-size: 30px;
}
.p3{
	font-size: 25px;
	font-family: 'Marck Script', cursive;
}
body {
	background-color: #FFEB73;
	width: 70%;
	margin:auto;
}
.img1 {
  margin: 0 0 0 25%;
  position: relative;	
}
.div1 {
	width: 100%;
	margin: auto;
	padding: 30px;
}
.a1{
	text-decoration:none;
	font-size: 24px;
	color: blue;
}